<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Departure Board</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
</head>
<body>
    <div class="container">
        <h1>Virtual Departure Boards</h1>
        <p class="subtitle">Redesigned public transport departure boards with real time data for NSW</p>

        <div class="boards-grid">
            <div class="board-card">
                <a href="/design/starter">
                    <h2>Starter Board</h2>
                    <p><i>Earliest prototype. Directly vibe coded, no styling.</i></p>
                </a>
            </div>

        <div class="board-card">
                <a href="/design/second">
                    <h2>Modern Board</h2>
                    <p><i>Modern design made for digital users</i></p>
                </a>
        </div>
        </div>

        <p class="subtitle"><i>Below designs part of 11DAT - AT2: Student Negotiated Project (Redesigning wayfinding at Central Station)</i></p>
        <div class="boards-grid">
        <div class="board-card-db" data-tooltip="Design coming soon!">
                <a href="/design/rec">
                    <h2>Improved Board</h2>
                    <p>Improved version of standard departure board</p>
                </a>
        </div>

        <div class="board-card">
                <a href="/design/metro">
                    <h2>Metro Board</h2>
                    <p>Improved Sydney Metro departure boards with improvements for readability</p>
                </a>
        </div>
        </div>
    </div>
</body>
<footer>made by jorteh :)</footer>
</html>