<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Departure Board</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
</head>
<body>
    <div class="container">
        <h1>Virtual Departure Boards</h1>
        <p class="subtitle">Alternative public transport departure boards designs with live data</p>

        <div class="boards-grid">
            <div class="board-card">
                <a href="/design/starter">
                    <h2>Starter Board</h2>
                    <p><i>Vibe coded</i></p>
                </a>
            </div>

        <div class="board-card">
                <a href="/design/second">
                    <h2>Modern Board</h2>
                    <p>Modern design made for digital users</p>
                </a>
        </div>

        <div class="board-card-db" data-tooltip="This feature is not yet available">
                <a href="/design/rec">
                    <h2>Improved Board</h2>
                    <p>Improved version of standard departure board</p>
                </a>
        </div>

        <div class="board-card-db" data-tooltip="This feature is not yet available">
                <a href="/design/metro">
                    <h2>Metro Board</h2>
                    <p>Simulated Sydney Metro departure board with improvements</p>
                </a>
        </div>

        </div>
    </div>
</body>
<footer>made by jorteh :)</footer>
</html>